@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 20px rgba(124, 58, 237, 0.5);
  }

  .bg-grid-pattern {
    background-image: linear-gradient(to right, #1f1f1f 1px, transparent 1px),
      linear-gradient(to bottom, #1f1f1f 1px, transparent 1px);
    background-size: 24px 24px;
    mask-image: radial-gradient(ellipse at center, black 40%, transparent 80%);
  }
}